In [27]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
df = pd.read_csv('./WA_Marketing-Campaign.csv')
df['Promotion'].unique() # Three different marketing promotions
df.head(5)
df.describe()

,MarketID,LocationID,AgeOfStore,Promotion,week,SalesInThousands
count,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000
mean,5.715328,479.656934,8.503650,2.029197,2.500000,53.466204
std,2.877001,287.973679,6.638345,0.810729,1.119055,16.755216
min,1.000000,1.000000,1.000000,1.000000,1.000000,17.340000
25%,3.000000,216.000000,4.000000,1.000000,1.750000,42.545000
50%,6.000000,504.000000,7.000000,2.000000,2.500000,50.200000
75%,8.000000,708.000000,12.000000,3.000000,3.250000,60.477500
max,10.000000,920.000000,28.000000,3.000000,4.000000,99.650000

In [19]:
promotion1 = df[df['Promotion'] == 1]
promotion2 = df[df['Promotion'] == 2]
promotion3 = df[df['Promotion'] == 3]
promotion1.describe()

,MarketID,LocationID,AgeOfStore,Promotion,week,SalesInThousands
count,172.000000,172.000000,172.00000,172.0,172.000000,172.000000
mean,5.790698,488.465116,8.27907,1.0,2.500000,58.099012
std,2.993624,299.352389,6.63616,0.0,1.121298,16.553782
min,1.000000,3.000000,1.00000,1.0,1.000000,30.810000
25%,3.000000,218.000000,3.00000,1.0,1.750000,46.352500
50%,6.000000,512.000000,6.00000,1.0,2.500000,55.385000
75%,8.000000,711.000000,12.00000,1.0,3.250000,63.617500
max,10.000000,919.000000,27.00000,1.0,4.000000,99.650000

In [23]:
df.head(5)

,MarketID,MarketSize,LocationID,AgeOfStore,Promotion,week,SalesInThousands
0,1,Medium,1,4,3,1,33.73
1,1,Medium,1,4,3,2,35.67
2,1,Medium,1,4,3,3,29.03
3,1,Medium,1,4,3,4,39.25
4,1,Medium,2,5,2,1,27.81

In [30]:
marketsizes = df['MarketSize'].unique()
marketsizes[0] = 'Small'
marketsizes[1] = 'Medium'
marketsizes
sizeEncoder = OrdinalEncoder(categories=[marketsizes])
df['MarketSize'] = sizeEncoder.fit_transform(df[['MarketSize']])
df

,MarketID,MarketSize,LocationID,AgeOfStore,Promotion,week,SalesInThousands
0,1,1.0,1,4,3,1,33.73
1,1,1.0,1,4,3,2,35.67
2,1,1.0,1,4,3,3,29.03
3,1,1.0,1,4,3,4,39.25
4,1,1.0,2,5,2,1,27.81
...,...,...,...,...,...,...,...
543,10,2.0,919,2,1,4,64.34
544,10,2.0,920,14,2,1,50.20
545,10,2.0,920,14,2,2,45.75
546,10,2.0,920,14,2,3,44.29
547,10,2.0,920,14,2,4,49.41

In [37]:
promotion1_var = np.std(np.array(promotion1['SalesInThousands']))
print(f"Variance of sales for promotion 1: {promotion1_var}")
print(f"Variance of sales for promotion 2: {np.std(np.array(promotion2['SalesInThousands']))}")
print(f"Variance of sales for promotion 3: {np.std(np.array(promotion3['SalesInThousands']))}")

# The variances are similar. This is one of the assumptions for the student's t-test.

Variance of sales for promotion 1: 16.505590091107884
Variance of sales for promotion 2: 15.068717814483891
Variance of sales for promotion 3: 16.72158027991051

In [ ]:
# A/B testing promotion 1 and 3
# Using student's t-test